body {
  background-color: #333; 
  color: #fff; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }

  #logout-form {
    display: inline;
  }

  #logout-form button {
    padding: 0;
    margin: 0;
  }